.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: white;    

    .restaurant__image {
        // display: flex; 
        // position: absolute;  
        background-position: center;
        object-fit: cover;
        overflow: hidden;        
        max-height: 275px;          
        
        & img {
            margin: -5% -5% -5% 0%;
            width: 100%;            
            @include breakpoint-tablet {
                margin: -20% 0 -10% 0;
            }
            @include breakpoint-desktop {
                max-height: 50%;                
                margin: -30% 0 -6% 0;                
            }
        }
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;        
        z-index: 1;
        width: 100%;
        background-color: $main-bg-color;
        border-radius: 40px 40px 0 0;
        margin-top: -40px;
        @include breakpoint-desktop {
            width: 75%;
        }

        &__title {
            display: flex;                    
            justify-content: center;
            align-items: center;                    
            margin: 25px 5px 5px 5px;            
            
            h2 {
                font-family: "Shrikhand", serif;
                font-size: 26px;
                margin: 5px;
                margin-right: 44px;                
            }
            
            .heart-container {
                margin: 0 10px 10px 10px;
                position: relative;
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px 20px 0 0;           
            position: relative;
            width: 100%;
        }

        .menu-container {
            background-color: $main-bg-color;
            position: relative;
            padding: 10px 13px 0 13px;
            max-width: 634px;
            width: 90%;
            @include breakpoint-tablet {
                width: 100%;
            }
            
            h3 {
                width: 40px;
                position: relative;
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 5px;
                border-bottom-style: solid;
                border-bottom-width: 3px;            
                border-bottom-color: $third-color;                
            }

            &__starter {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                width: 100%;
                animation: appear 1000ms 0.5s both ease-in-out;
            }

            &__mainCourse {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                width: 100%;
                animation: appear 1000ms 2s both ease-in-out;
            }

            &__dessert {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                width: 100%;
                animation: appear 1000ms 3s both ease-in-out;
            }

            .menu-card {
                position: relative;                
                display: flex;                
                margin-top: 12px;                    
                @include card;
                background-color: white;
                border-radius: 15px;
                width: 100%;
                overflow: hidden;   
                                           
                &__dish {                    
                    display: flex;
                    position: relative;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 12px 0px 12px 12px;
                    width: 100%;        
                                   
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0px 5px 5px 0px;
                        @include ellipsis;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 0px 5px 0px 0px;
                        @include ellipsis;
                    }                        
                }

                &__price-check {                                           
                    display: flex;
                    position: relative;                   
                    justify-content: flex-end;
                    align-items: flex-end;                  
                    padding-left: 5px;
                    width: 15%; 
                    // transform: translateX(-60px); 
                    // transform: translateX(0); 
                    transition: all 0.3s ease-in-out;                    
                                                                               
                    & p {
                        font-size: 15px;
                        font-weight: 500;
                        margin-bottom: 12px;
                        margin-right: 15px;
                    }
                    
                    &--check {  
                        right: -60px;
                        // visibility: hidden; 
                        position: absolute;
                        // position: relative;                     
                        display: flex;                        
                        justify-content: center;
                        align-items: center;             
                        background-color: $third-color;
                        border-radius: 0 15px 15px 0;
                        width: 59px;
                        height: 100%;
                            
                        i {
                            color: white;
                            font-size: 20px;                            
                        }                                  
                    }                                                  
                } 

                &:hover {
                    cursor: pointer;                
               
                    .menu-card__price-check { 
                        width: 45%; 
                        // transform: translateX(0); 
                        transform: translateX(-60px);  
                        transition: all 0.3s ease-in-out; 
                    }
                }                
            }            
        }
        
        .order {
            display: flex;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 20px;
            padding: 0;
            @include breakpoint-desktop {
                margin-bottom: 40px;
            }
            
            .button {        
                @include button;
                margin-top: 0;
                margin-bottom: 0;
            }
                        
            .button:hover {
                @include button--hover;
            } 
        }
    } 
}