.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-width: 99%;
    background-color: white;
    // $main-bg-color;

    .restaurant__image {
        display: flex;
        // justify-content: center;
        // max-width: 85.5%;
        // max-width: 100%;
        // height: 275px;
        object-fit: cover;
        overflow: hidden;
        
        // @include breakpoint-tablet {
        //     // object-fit: cover;
        //     // overflow: hidden;
        //     // height: 20%;
        //     // height: 383px;
        //     // width: 100%;            
        // }

        & img {
            margin: 0% -5% -5% 0%;
            width: 100%;
            @include breakpoint-tablet {
                margin: -10% 0 -10% 0;;
            }
            @include breakpoint-desktop {
                max-height: 30%;
                // margin: -330px 0 -200px 0;
                margin: -22% 0 -16% 0;
                // height: 383px;
                // width: 100%;
                // object-position: center;
            }
        }
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        // align-items: center;
        z-index: 1;
        width: 100%;
        background-color: $main-bg-color;
        border-radius: 40px 40px 0 0;
        margin-top: -45px;
        @include breakpoint-desktop {
            width: 75%;
        }

        &__title {
            display: flex;                    
            justify-content: center;
            align-items: center;
            // width: 634px;            
            margin: 40px 5px 5px 5px;            
            
            h2 {
                font-family: "Shrikhand", serif;
                font-size: 26px;
                margin: 5px;
                margin-right: 44px;                
            }
            
            .heart-container {
                margin: 0 10px 10px 10px;
                position: relative;
            }
        }

        &__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 20px 20px 0 0;
            // margin-top: -50px;
            position: relative;
            width: 100%;
        }

        .menu-container {
            background-color: $main-bg-color;
            position: relative;
            padding: 10px 13px 0 13px;
            max-width: 634px;
            width: 90%;
            @include breakpoint-tablet {
                width: 100%;
            }
            // 
            h3 {
                width: 40px;
                position: relative;
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 5px;
                border-bottom-style: solid;
                border-bottom-width: 3px;            
                border-bottom-color: $third-color;
                // border: 40px;
            }

            &__starter {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                width: 100%;
                animation: appear 1000ms 0.5s both ease-in-out;
            }

            &__mainCourse {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                width: 100%;
                animation: appear 1000ms 2s both ease-in-out;
            }

            &__dessert {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                width: 100%;
                animation: appear 1000ms 3s both ease-in-out;
            }

            

            .menu-card {
                position: relative;
                z-index: 2;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 12px;
                // padding: 12px;      
                @include card;
                background-color: white;
                border-radius: 15px;
                width: 100%;
                overflow: hidden;                
                                
                &__dish {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;
                    padding: 12px;
                
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0px 5px 5px 0px;
                        @include ellipsis;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 0px 5px 0px 0px;
                        @include ellipsis;
                    }
                }

                &__price {                        
                    display: flex;
                    position: relative;
                    z-index: 1;
                    // justify-content: space-between;
                    justify-content: end;
                    align-items: end;
                    padding: 0 12px 12px 12px;
                    margin-left: 12px;
                    background-color: white;
                    // border-radius: 0 15px 15px 0;
                    width: 59px;
                    // height: 69px;
                    
                    & p {
                        font-size: 15px;
                        font-weight: 500;
                        margin-bottom: 0;
                    }

                    &:hover {
                        animation: slide 0.3s ease-in forwards;
                    }
                    // &:hover {
                    //     animation: slide 0.5s ease forwards;
                    // }
                }                 
               
                &__check {  
                    position: absolute; 
                    right: 0;    
                    // z-index: 0;             
                    // margin-top: 12px;
                    display: flex;
                    // flex-direction: row;
                    justify-content: center;
                    align-items: center;             
                    background-color: $third-color;
                    border-radius: 0 15px 15px 0;
                    width: 59px;
                    height: 100%;
                        
                        i {
                            color: white;
                            font-size: 20px;
                            // font-weight: 500;
                        }
                        
                        // &:hover {
                        //     animation: slide 0.5s ease forwards;
                        // }                          
                }
            }
            

            @keyframes slide {
                0% { transform: translateX(0); }
                100% { transform: translateX(-60px); }
            }

            @keyframes appear {
                0% { opacity: 0; transform: translateY(-20px); }
                100% { opacity: 1; transform: translateY(0px); }
            }
        }
        
        .order {
            display: flex;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 20px;
            padding: 0;
            @include breakpoint-desktop {
                margin-bottom: 40px;
            }
            
            .button {        
                @include button;
                margin-top: 0;
                margin-bottom: 0;
            } 
        }
    } 
}