.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // max-width: 99%;
    background-color: white;
    // $main-bg-color;

    .restaurant__image {
        display: flex;
        // justify-content: center;
        // max-width: 85.5%;
        // max-width: 100%;
        // height: 275px;
        object-fit: cover;
        overflow: hidden;
        
        // @include breakpoint-tablet {
        //     // object-fit: cover;
        //     // overflow: hidden;
        //     // height: 20%;
        //     // height: 383px;
        //     // width: 100%;            
        // }

        & img {
            margin: -0.5% -5% -5% -5%;
            width: 100%;
            @include breakpoint-tablet {
                margin: -10% 0 -10% 0;;
            }
            @include breakpoint-desktop {
                max-height: 30%;
                // margin: -330px 0 -200px 0;
                margin: -22% 0 -16% 0;
                // height: 383px;
                // width: 100%;
                // object-position: center;
            }
        }
    }

    .restaurant-info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        // align-items: center;
        z-index: 1;
        width: 100%;
        background-color: $main-bg-color;
        border-radius: 40px 40px 0 0;
        margin-top: -45px;
        @include breakpoint-desktop {
            width: 75%;
        }

        .restaurant-info__title {
            display: flex;                    
            justify-content: center;
            align-items: center;
            // width: 634px;            
            margin: 40px 5px 5px 5px;            
            
            h2 {
                font-family: "Shrikhand", serif;
                font-size: 26px;
                margin: 5px;
                margin-right: 44px;                
            }
            
            .heart-container {
                margin: 0 10px 10px 10px;
                position: relative;
            }
        }

        .restaurant-info__menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // background-color: $main-bg-color;
            // background-color: blueviolet;
            // padding: 0px;
            border-radius: 20px 20px 0 0;
            // margin-top: -50px;
            position: relative;
            // z-index: 1;
            // width: 1055px;
            width: 100%;

            
        }

        .menu-card-container {
            // display: flex;
            // flex-direction: column;
            background-color: $main-bg-color;
            position: relative;
            // margin-top: -10px;
            // margin-left: 0px;
            // margin-right: 0px;
            padding: 10px 13px 0 13px;
            max-width: 634px;
            width: 90%;
            // z-index: 1;
            @include breakpoint-tablet {
                width: 100%;
                // max-width: 634px;
            }

            .menu-card-course {
                margin-bottom: 40px;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
            
            .menu-card-course h3 { 
                width: 40px;
                position: relative;
                font-size: 16px;
                font-weight: 300;
                padding-bottom: 5px;
                border-bottom-style: solid;
                border-bottom-width: 3px;            
                border-bottom-color: $third-color;
                // border: 40px;
            }

            .menu-card {                
                display: flex;
                flex-direction: row;
                // position: relative;
                justify-content: space-between;
                // height: 67px;
                // width: 345px;
                margin-top: 12px;
                padding: 12px;      
                @include card;
                background-color: white;
                border-radius: 15px;    
                        

                .menu-card__dish {
                    overflow: hidden;
                    // width: 230px;
                    // @include ellipsis;
                    h4 {
                        font-size: 18px;
                        font-weight: 500;
                        margin: 0px 5px 5px 0px;
                        @include ellipsis;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 300;
                        margin: 0px 5px 0px 0px;
                        @include ellipsis;
                    }
                }
                .menu-card__price {
                    font-size: 15px;
                    font-weight: 500;
                    display: flex;
                    align-items: end;
                    // margin-bottom: 0px;
                    & p {
                        margin-bottom: 0px;
                    }
                }
            }
        }
        .order {
            display: flex;
            justify-content: center;
            margin-top: 0;
            margin-bottom: 40px;
            padding: 0;

            

            .button {        
                @include button;
                margin-top: 0;
                margin-bottom: 0;
            } 
        }
    } 
}          
            
            

