.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    
    .logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 63px;
        @include breakpoint-desktop {
        padding-top: 10px;
        padding-bottom: 20px;
        }
           
        img {
            height: 30px;
            padding-top: 10px;            
        }
        
        .fa-arrow-left {
            position: absolute;
            left: 25px;
            color: $second-bg-color;
            font-size: 17px;
            font-weight: bold;

            @include breakpoint-tablet {
                margin-left: 0%;
            }

            @include breakpoint-desktop {
                top: 40px;
            }
        }
    }
}