.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
    @include breakpoint-desktop {
        height: 96px;
    }
    /* height: 113px; */

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 63px;
            // filter: drop-shadow(0 2px 4px rgba(0,0,0,0.15));
        // background-color:white;

        img {
            height: 30px;
            padding-top: 10px;
        }
        
        .fa-arrow-left {
            position: absolute;
            left: 25px;
            top: 25px;
            display: flex;
            align-items: center;
            color: $second-bg-color;
            font-size: 17px;
            font-weight: bold;
            // visibility: hidden;
            @include breakpoint-desktop {
                top: 40px;
            }
        }
    }

   .location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 50px;
        /* width: 375px; */
        width: 100%;
        background-color: $third-bg-color;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    
        .fa-location-dot {
            color: $second-bg-color;
            font-size: 16px;
            height: 16px;
            width: 12px;
            display: flex;
            padding-right: 17px;
        }
    
        p {
            color: $second-bg-color;
            font-size: 16px;
            font-weight: 500;
        }
    } 
}